
/* css QUICKR SVG DENTRO DEL CLASS "WRAPPER" */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap"); 
    svg {
        font-family: "Noto Sans Hebrew", sans-serif;
        width: 100%; height: 100%;
    }
    svg text {
        animation: stroke 4s infinite alternate;
        stroke-width: 2;
        stroke: #5d18dc;
        font-size: 100px;
    }
    @keyframes stroke { /*linear-gradient(to top, #b721ff 0%, #21d4fd 100%) */
        0%   {
            fill: #0dd8d600; stroke: #5d18dc;
            stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
        }
        70%  {fill: rgba(13,216,214,0); stroke: #4684ff; }
        80%  {fill: rgba(13,216,214,0); stroke: #4684ff; stroke-width: 3; }
        100% {
            fill: #5d18dc; stroke: rgba(29,159,160,0);
            stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
        }
    }

/*ESTILOS RESPONSIVOS PARA DIFERENTES TAMANOS DE PAGINA*/
@media screen and (max-width: 768px) { /* Estilos responsivos para pantallas con un ancho máximo de 768 píxeles / Responsive styles for screens with a maximum width of 768 pixels */
    .main__container {
        /* Utiliza un diseño de cuadrícula para el contenedor / Uses a grid layout for the container */
        display: grid;

        /* Define una sola columna en la cuadrícula / Defines a single column in the grid */
        grid-template-columns: auto;

        /* Alinea los elementos hijos verticalmente en el centro / Aligns child elements vertically in the center */
        align-items: center;

        /* Centra los elementos hijos horizontalmente / Centers child elements horizontally */
        justify-content: center;

        /* Establece el ancho del contenedor al 100% del contenedor padre / Sets the container width to 100% of the parent container */
        width: 100%;

        /* Centra el contenedor horizontalmente / Centers the container horizontally */
        margin: 0 auto;

        /* Establece la altura del contenedor al 90% de la altura de la ventana / Sets the container height to 90% of the viewport height */
        height: 90vh;
    }

    .main__content {
        /* Centra el texto dentro del contenido principal / Centers the text within the main content */
        text-align: center;

        /* Añade un margen inferior de 4 rem / Adds a bottom margin of 4 rem */
        margin-bottom: 4rem;
    }

    .main__content h1 {
        /* Establece el tamaño de la fuente a 2.5 rem / Sets the font size to 2.5 rem */
        font-size: 2.5rem;

        /* Añade un margen superior de 2 rem / Adds a top margin of 2 rem */
        margin-top: 2rem;
    }

    .main__content h2 {
        /* Establece el tamaño de la fuente a 3 rem / Sets the font size to 3 rem */
        font-size: 3rem;
    }

    .main__content p {
        /* Añade un margen superior de 1 rem / Adds a top margin of 1 rem */
        margin-top: 1rem;

        /* Establece el tamaño de la fuente a 1.5 rem / Sets the font size to 1.5 rem */
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) { /* Estilos responsivos para pantallas con un ancho máximo de 480 píxeles / Responsive styles for screens with a maximum width of 480 pixels */
    .main__content h1 { 
        font-size: 2rem; /* Establece el tamaño de la fuente a 2 rem / Sets the font size to 2 rem */
        margin-top: 3rem; /* Añade un margen superior de 3 rem / Adds a top margin of 3 rem */
    }

    .main__content h2 {
        font-size: 2rem; /* Establece el tamaño de la fuente a 2 rem / Sets the font size to 2 rem */
    }

    .main__content p {
        margin-top: 2rem; /* Añade un margen superior de 2 rem / Adds a top margin of 2 rem */
        font-size: 1.5rem; /* Establece el tamaño de la fuente a 1.5 rem / Sets the font size to 1.5 rem */
    }

    .main__btn {
        padding: 12px 36px; /* Añade padding de 12 píxeles vertical y 36 píxeles horizontal / Adds 12 pixels vertical and 36 pixels horizontal padding */
        margin: 2.5rem; /* Añade un margen de 2.5 rem / Adds a margin of 2.5 rem */
    }
}

.About { /* Sección About / About section */
    flex-direction: column; /* Establece la dirección del eje principal a columna / Sets the main axis direction to column */
    align-items: center; /* Alinea los elementos hijos en el centro horizontalmente / Aligns child elements horizontally in the center */
    height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la ventana / Sets the container height to 100% of the viewport height */
}

.About h1 { /* Estilo del encabezado h1 dentro de la sección About / Style for the h1 header within the About section */
    background-size: 100%; /* Ajusta el tamaño del fondo al 100% del contenedor / Sets the background size to 100% of the container */
    margin-bottom: 5rem; /* Añade un margen inferior de 5 rem / Adds a bottom margin of 5 rem */
    /*font-size: 2.5rem; /* Establece el tamaño de la fuente a 2.5 rem / Sets the font size to 2.5 rem */
    -webkit-background-clip: text; /* Utiliza el fondo como relleno del texto en navegadores WebKit / Uses the background as text fill in WebKit browsers */
    -moz-background-clip: text; /* Utiliza el fondo como relleno del texto en navegadores Mozilla / Uses the background as text fill in Mozilla browsers */
    -webkit-text-fill-color: transparent; /* Hace que el color del texto sea transparente en navegadores WebKit / Makes the text color transparent in WebKit browsers */
    -moz-text-fill-color: transparent; /* Hace que el color del texto sea transparente en navegadores Mozilla / Makes the text color transparent in Mozilla browsers */
}

.About__container { /* Contenedor de la sección About / About section container */
    display: flex; /* Utiliza Flexbox para el diseño del contenedor / Uses Flexbox for container layout */
    justify-content: center; /* Centra los elementos hijos horizontalmente / Centers child elements horizontally */
    flex-wrap: wrap; /* Permite que los elementos hijos se envuelvan en múltiples líneas / Allows child elements to wrap into multiple lines */
    background-color: #000000;
}

.About__card { /* Tarjeta de la sección About / About section card */
    margin: 1.3rem; /* Añade un margen de 1 rem alrededor de la tarjeta / Adds a margin of 1 rem around the card */
    height: 525px; /* Establece la altura de la tarjeta a 525 píxeles / Sets the card height to 525 pixels */
    width: 400px; /* Establece el ancho de la tarjeta a 400 píxeles / Sets the card width to 400 pixels */
    border-radius: 4px; /* Redondea las esquinas de la tarjeta / Rounds the card corners */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('images/LB.png'); /* Aplica un degradado de color y una imagen de fondo a la tarjeta / Applies a color gradient and a background image to the card */
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo el contenedor / Sets the background size to cover the entire container */
    position: relative; /* Posiciona la tarjeta de manera relativa / Positions the card relatively */
    color: #fff; /* Establece el color del texto a blanco / Sets the text color to white */
    padding: 20px; /* Añade padding dentro de la tarjeta */
    display: flex; /* Utiliza Flexbox para el diseño del contenedor / Uses Flexbox for container layout */
    flex-direction: row; /* Establece la dirección del eje principal a fila / Sets the main axis direction to row */
    align-items: flex-end; /* Alinea los elementos hijos en el centro / Aligns child elements in the center */
}

/* Tarjeta de la sección About (segunda tarjeta) / About section card (second card) */
.About__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('images/cocina2.png');  /* Aplica un degradado de color y una imagen de fondo diferente a la segunda tarjeta / Applies a different color gradient and background image to the second card */
}

/* Encabezado h2 dentro de la sección About / h2 header within the About section */
.About h2 {
    position: absolute; /* Posiciona el encabezado de manera absoluta / Positions the header absolutely */
    top: 350px; /* Establece la posición superior del encabezado a 350 píxeles / Sets the top position of the header to 350 pixels */
    left: 30px; /* Establece la posición izquierda del encabezado a 30 píxeles / Sets the left position of the header to 30 pixels */
}

/* Estilos responsivos para pantallas con un ancho máximo de 960 píxeles / Responsive styles for screens with a maximum width of 960 pixels */
@media screen and (max-width: 960px) {
    .About {
        /* Establece la altura del contenedor a 1600 píxeles / Sets the container height to 1600 pixels */
        height: 1600px;
    }

    .About h1 {
        /* Establece el tamaño de la fuente a 1.2 rem / Sets the font size to 1.2 rem */
        font-size: 1.2rem;
    }

    .About__card {
        /* Establece el ancho de la tarjeta a 400 píxeles / Sets the card width to 400 pixels */
        width: 400px;
    }
}