  /* Contenedor del formulario */
.register-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 1000px #5d18dc;
    width: 100%;
    max-width: 400px;
    margin-top: 4rem;
    margin-left: 37.5%;
}

/* Título del formulario */
.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.register-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
/* Mensaje de error */
.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

/* Estilos de los campos del formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 3px solid #5d18dc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #5d18dc;
    outline: none;
    box-shadow: 0 1px 1000px #5d18dc;
}

/* Enlaces */
.links {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}
