{% extends 'base.html' %}

{% block title %}
FAQ - Quickr
{% endblock %}

{% block content %}
<div class="faq__container">
    <h1>FAQ</h1>
    <div class="faq__questions">
        <div class="faq__question">
            <h2>How do I get started?</h2>
            <p>Getting started is easy! Just sign up for an account and you'll be able to start using Quickr right away.</p>
        </div>
        <div class="faq__question">
            <h2>How do I reset my password?</h2>
            <p>Resetting your password is simple. Just click on the "Forgot Password" link on the login page and follow the instructions.</p>
        </div>
        <div class="faq__question">
            <h2>How do I contact customer support?</h2>
            <p>If you have any questions or need help, you can contact our customer support team by clicking on the "Contact Us" link in the footer.</p>
        </div>
        <div class="faq__question">
            <h2>How do I update my account information?</h2>
            <p>You can update your account information by logging in and clicking on the "Account Settings" link in the dashboard.</p>
        </div>
    </div>
</div>
{% endblock %}