{% extends 'base.html' %}

{% block title %} Login - Quickr {% endblock %}
{% block stylesheets %} <!-- Bloque para incluir hojas de estilos específicas de cada página / Block to include specific stylesheets for each page -->
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-card">
            <h2>Login</h2>
            <div class="error-message"></div> <!-- Aquí se mostrarán los errores -->
            <form id="login-form" method="POST">
                <div class="mb-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" required class="input-field">
                </div>
                <div class="mb-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" required class="input-field">
                </div>
                <div class="checkbox-container"> <!-- Remember me checkbox-->
                    <p>Remember me</p>
                    <div class="checkbox-wrapper-12">
                        <div class="cbx">
                          <input checked="" type="checkbox" id="cbx-12">
                          <label for="cbx-12"></label>
                          <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                            <path d="M2 8.36364L6.23077 12L13 2"></path>
                          </svg>
                        </div>
                        
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <defs>
                            <filter id="goo-12">
                              <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                              <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                              <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                            </filter>
                          </defs>
                        </svg>
                      </div>
                </div>

                <a href="{{ url_for('get_services') }}" class="button">Log in</a> <!-- pasa a dashboard.html -->

                <div class="flex flex-space-between">
                    <a href="{{ url_for('show_register') }}" class="link">Create Account</a>
                    <a href="{{ url_for('forgot') }}" class="link">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='JS/login.js') }}"></script> 
<script src="{{ url_for('static', filename='JS/mobile-menu.js') }}"></script>
{% endblock %}
