{% extends 'base.html' %}

{% block title %}Login - Quickr{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
{% endblock %}
{% block content %}
<main>
    <div class="centered-box">
        <div class="login-container">
            <h2>Login</h2>
            <div class="error-message"></div> <!-- Aquí se mostrarán los errores -->

            <form id="login-form" method="POST">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <label class="rememberme-checkbox">
                    <input name="dummy" type="checkbox">
                    <span class="checkmark"></span>
                    Remember me
                </label>
                <div class="form-group">
                    <button type="submit">Log In</button>
                </div>
                <div class="links">
                    <button class="create" onclick="window.location.href='{{ url_for('show_register') }}'">
                        Create Account
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                    <a href="{{ url_for('forgot') }}">Forgot Password?</a>
                </div>
            </form>

            <div class="form-group">
                <button class="google-button">
                    <!-- Icono de Google -->
                    Continue with Google
                </button>
                <button class="facebook-button">
                    <!-- Icono de Facebook -->
                    <span>Facebook</span>
                </button>
            </div>
        </div>
    </div>
</main>

<!-- Aquí va el bloque del script -->


<script src="{{ url_for('static', filename='JS/login.js') }}"></script>
{% endblock %}
