{% extends 'base.html' %}

{% block title %}
Privacy - Quickr
{% endblock %}

{% block content %}
    <div class="centered-box">
        <h1>Privacy Policy</h1>
        <p>Effective Date: January 1, 2024</p>

        <h2>1. Introduction</h2>
        <p>Welcome to [Your Company]. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at [contact email].</p>

        <h2>2. Information We Collect</h2>
        <p>We collect personal information that you voluntarily provide to us when registering at the website, expressing an interest in obtaining information about us or our products and services, when participating in activities on the website or otherwise contacting us.</p>

        <h2>3. How We Use Your Information</h2>
        <p>We use personal information collected via our website for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations.</p>

        <h2>4. Sharing Your Information</h2>
        <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>

        <h2>5. Security of Your Information</h2>
        <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>

        <h2>6. Changes to This Privacy Policy</h2>
        <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>

        <h2>7. Contact Us</h2>
        <p>If you have questions or comments about this policy, you may email us at [contact email] or by post to:</p>
        <p>[Your Company Name]<br>
        [Street Address]<br>
        [City, State, ZIP Code]</p>
    </div>
{% endblock %}