{% extends 'base.html' %}

{% block title %}Service Detail{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='reviews.css') }}">
{% endblock %}

{% block content %}
<div class="service-detail">
    <h1>{{ service.name }}</h1>
    <p><strong>Description:</strong> {{ service.description }}</p>
    <p><strong>Approx Price:</strong> ${{ service.aprox_price }}</p>
    <p><strong>Category:</strong> {{ service.category }}</p>
</div>

<div class="reviews-section">
    <h2>Reviews</h2>
    {% if reviews %}
        {% for review in reviews %}
            <div class="review">
                <h4>Review by {{ review.user.first_name }} {{ review.user.last_name }}</h4>
                <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                <p><strong>Comment:</strong> {{ review.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No reviews yet. Be the first to leave a review!</p>
    {% endif %}
</div>

<div id="review-form-{{ service.id }}" style="margin-top: 10px;">
	<h3>Leave a Review</h3>
    <textarea id="comment-{{ service.id }}" placeholder="Deja un comentario" required></textarea>
    <input type="number" id="rating-{{ service.id }}" min="1" max="5" placeholder="Calificación (1-5)" required>
    <button onclick="submitReview('{{ service.id }}')">Enviar Reseña</button>
</div>


<script src="{{ url_for('static', filename='JS/reviews.js') }}"></script>
<script src="{{ url_for('static', filename='JS/login.js') }}"></script>
{% endblock %}
