{% extends 'base.html' %}

{% block title %}Services - Quickr{% endblock %}

{% block Content %}
    <div class="search-container">
        <h1>Services</h1>
        <form id="search-form">
            <input type="text" id="search-input" list="services-list" placeholder="Enter service name..." required>
            <datalist id="services-list">
                <!-- Este bloque se llena dinámicamente con los nombres de los servicios -->
                {% for service in services %}
                    <option value="{{ service.name }}">
                {% endfor %}
            </datalist>
            <button type="submit">Search</button>
        </form>
        <div id="results-container"></div>
    </div>

    <div class="services-container">
        <!-- Bucle para iterar sobre los servicios -->
        {% for service in services %}
            <div class="service-card">
                <h2>{{ service.name }}</h2>
                <p>{{ service.description }}</p>
                <p>Precio aproximado: ${{ service.aprox_price }}</p>
                <p>Categoría: {{ service.category }}</p>
                <p>Tarifa: ${{ service.fee }}</p>
                <img src="{{ service.img_url }}" alt="Imagen del servicio" class="service-img">
            </div>
        {% else %}
            <p>No hay servicios disponibles en este momento.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='JS/search.js') }}"></script>
{% endblock %}
