{% extends 'base.html' %}

<title>{% block title %}Services{% endblock %}</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/service.css') }}">
{% endblock %}

{% block content %}
<div class="cards-container">
    {% for service in services.items %}
        <div class="card">
            <div class="image-container">
                <img src="{% if service.picture %}data:image/jpeg;base64,{{ service.picture }}{% else %}{{ url_for('static', filename='images/no_service.jpg') }}{% endif %}"
                     alt="{{ service.name }}"
                     onerror="this.src='{{ url_for('static', filename='images/no_service.jpg') }}'">
            </div>
            <div class="card-content">
                <h2>{{ service.name }}</h2>
                <p><strong>Description:</strong> {{ service.description or 'No description available' }}</p>
                <p><strong>Category:</strong> {{ service.category }}</p>
                <p><strong>Approx. Price:</strong> {{ service.aprox_price }}</p>
                <p><strong>Fee:</strong> {{ service.fee }}%</p>
                <button class="button" onclick="window.location.href='{{ url_for('review_page', service_id=service.id) }}'">View Service</button>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Paginación -->
<div class="pagination">
    {% if services.has_prev %}
        <a href="{{ url_for('get_services', page=services.prev_num, per_page=services.per_page) }}" class="button">Anterior</a>
    {% endif %}

    <span>Página {{ services.page }} de {{ services.pages }}</span>

    {% if services.has_next %}
        <a href="{{ url_for('get_services', page=services.next_num, per_page=services.per_page) }}" class="button">Siguiente</a>
    {% endif %}
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='JS/reviews.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/mobile-menu.js') }}"></script>
{% endblock %}